body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: white;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100vw;
  height: 100vh;
}

.headerImg {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  top: 0;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 10vh;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

}

.navbar-headline {
  margin: 0px;
  width: 200px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: x-large;
  cursor: pointer;
}

.btn-scroll {
  background-color: transparent;
  border: none;
}

.navbar-headline:hover {
  animation: headShake;
  animation-duration: 1s;
}

/* demo-section */

.demo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}


.video {
  background-color: grey;
  height: 300px;
  width: 500px;
  padding-right: 20px;
}

.demo-text {
  height: 300px;
  width: 500px;
  text-align: center;
  padding-left: 20px;
}

/* img-section */

.img-section {
  position: relative;
  background-color: #4BA69D;
  height: 100vh;
}

.wave-img {
  position: absolute;
  top: 0;
  width: 100%;
}

.images {
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.img-img {
  width: 20vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 25px;
}

/* project section */

.project-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-h1 {
  cursor: pointer;
  color: black;
}

/* footer section */

.footer {
  position: relative;
  background-color: aliceblue;
}

.footer-img {
  position: relative;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;;
  object-fit: cover;
}

.wave-top {
  position: absolute;
  z-index: 3;
  top: 0px;
  width: 100%;
}

.wave-bot {
  position: absolute;
  z-index: 4;
  bottom: 0px;
  width: 100%;
  transform: rotate(180deg);
  
}

/* about */

.container-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2-profile {
  font-size: large;
  width: 200px;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

.p-profile {
  font-size: medium;
  margin-top: 0.3rem;
  color: black;
}

.team-headline {
  margin-left: 5vw;
  margin-top: 0px;
  margin-bottom: 40px;
}

.img-about {
  height: 250px;
  width: 250px;
  margin-right: 5px;
  margin-left: 5px;
  object-fit: cover;
  object-position: 0% 0%;
  border-radius: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .3);
}


@media (max-width: 600px) {
  .container-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vh;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .images {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .img-section {
    position: relative;
    background-color: #4BA69D;
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .img-img {
    width: 250px;
    height: 50vh;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 20px;
  }

  .demo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  
  .video {
    background-color: grey;
    height: fit-content;
    width: 90%;
  }
  
  .demo-text {
    height: fit-content;
    width: 90%;
    text-align: center;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 15vh;
    padding-right: 0px;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  
  }
  
  .navbar-headline {
    margin: 0px;
    width: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: x-large;
    cursor: pointer;
  }

}